.about-in{
  background-color: lightgray;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-text{
  text-align: center;
}

.par-text {
  text-align: center;
}

.xxx{
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 20px;

}